
/* Style sheet
   color picker www.w3schools.com/colors/colors_picker.asp
*/

body {
   background-color: transparent;
   background-image: url(bck.gif);

   text-align: center;
}



h1 {
	font-size: 50px;
	text-align: center;
	margin: 0;
	padding: 20px 0;
	color: black;
	text-shadow:  black;
}

img {
  display: block;
  margin:  auto;
  align: center;
}

p {
  color: black;
  size: 40px;
}

.list{
    display: inline-block;
    text-align: left;
}

table {
	border: 1px solid black;
	background-color: #f1f1c1;
}

/* Defining styling for a specific element type - each question */
.question {
  background: url(bck1.jpg);
  background-repeat: no-repeat;
  color: black;
  width: 450px;
  margin: 20px auto;
  padding: 10px;
}

/* Defining styling for a specific element type - large block buttons */
.block {
  display: block;
  width: auto;
  margin: auto;
  border: none;
  background-color: #ffff66;  /* yellow */
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

/* Defining styling for a specific element with an id */
#signature {
  text-align: right;
  color: grey;
  font-style: italic;
  font-size: 100%;
}

.onoffswitch {
    position: relative; width: 100px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    left: 40%;
}
.onoffswitch-checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #FFFFFF; border-radius: 0px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 40px; padding: 0; line-height: 36px;
    font-size: 20px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
    border: 2px solid transparent;
    background-clip: padding-box;
}
.onoffswitch-inner:before {
    content: "YES";
    padding-left: 20px;
    background-color: #44A2FA; color: #FFFFFF;
    text-align: left;

}
.onoffswitch-inner:after {
    content: "NO";
    padding-right: 20px;
    background-color: #CCCCCC; color: #333333;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 25px; margin: 0px;
    background: #000000;
    position: absolute; top: 0; bottom: 0;
    right: 75px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

.green-border-focus .form-control:focus {
    border: 1px solid #8bc34a;
    box-shadow: 0 0 0 0.2rem rgba(139, 195, 74, .25);
}
